<footer class="site-footer">
  <div class="footer-left">
    <span class="site-footer-owner"><a href="{{ site.url }}">{{ site.title }}</a> is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</span>
  </div>
  <div class="footer-right">
    <div class="links"><i class="fab fa-youtube" style="color: red; padding-right:6px;"></i> <a href="{{ site.links.youtube }}">Youtube</a></div>
    <div class="links"><i class="fab fa-twitch" style="color: purple;padding-right:10px;"></i> <a href="{{ site.links.twitch }}">Twitch</a></div>
    <div class="links"><i class="fab fa-twitter" style="color: #00acee;padding-right:9px;"></i> <a href="{{ site.links.twitter }}">Twitter</a></div>
  </div>
</footer>

<style>
  .links {
      margin-bottom: 10px;
  }

  .footer-left {
    display: inline;
    text-align:left;
  }

  .footer-right {
    display: inline;
    text-align:right;
  }
</style>
