---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

{{ content }}


<h4>あーるのSNSリンク集</h4>
<div class="links"><i class="fab fa-youtube" style="color: red; padding-right:6px;"></i> <a href="{{ site.links.youtube }}">Youtube</a></div>
<div class="links"><i class="fab fa-twitch" style="color: purple;padding-right:10px;"></i> <a href="{{ site.links.twitch }}">Twitch</a></div>
<div class="links"><i class="fab fa-twitter" style="color: #00acee;padding-right:9px;"></i> <a href="{{ site.links.twitter }}">Twitter</a></div>

<style>
    .links {
        margin-bottom: 10px;
    }
</style>